.todo {
  position: relative;
}
.todo .card {
  width: 300px;
  height: 300px;
  background-color: #fbebd6;
  margin: 10px 0px;
}
.modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
  width: 25%;
  background: burlywood;
  padding: 10px;
  border-radius: 1em;
  z-index: 9;
}
.modal .modalBody {
  width: 100%;
}
.modal .modalBody .confirmDelete {
  width: 50%;
  float: left;
  text-align: center;
}
.modal .modalBody .confirmDelete {
  width: 50%;
  float: left;
  text-align: center;
}
.modal .modalCloseText {
  text-align: center;
}
.modal .modalClose {
  position: absolute;
  right: -7px;
  top: -7px;
  background: bisque;
  border-radius: 5em;
  border: 1px solid;
  padding: 0px 5px;
  cursor: pointer;
}
.modalBackdrop {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
